{% extends "core/base.html" %}
{% load static %}

{% block title %}Acerca De | {{ person.nombre }} {{ person.apellido }}{% endblock %}

{% block header_image %}{% static 'core/img/bota.png' %}{% endblock %}
{% block header_title %}Acerca de{% endblock %}
{% block header_subtitle %}Biografía{% endblock %}

{% block content %}
    <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/img_1.png' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">{{ person.nombre }} {{ person.apellido }}</h2>
          <p>{{ person.biografia }}</p>
          <p><strong>Dedicación:</strong> {{ person.dedicacion }}</p>
        </div>
      </div>
    </div>
    <hr>

{% endblock %}