{% extends "core/base.html" %}
{% load static %}

{% block title %}Contacto | {{ person.nombre }} {{ person.apellido }}{% endblock %}

{% block header_image %}{% static 'core/img/botan.png' %}{% endblock %}
{% block header_title %}Contacto{% endblock %}
{% block header_subtitle %}Asesoría{% endblock %}

{% block content %}
   <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{ person.dedicacion }}</p>
          <br>
          <p><b>Dirección:</b> {{ person.direccion }}</p>
          <p><b>Teléfono:</b> {{ person.telefono }}</p>
          <p><b>Correo:</b> {{ person.correo_electronico }}</p>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}